<% layout("/layouts/boilerplate.ejs") %>

<body>    
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="mt-3 mb-3">Edit the Listing</h2>
            <form action="/listings/<%=listingData._id%>?_method=PATCH" method="POST">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%=listingData.title%>" class="form-control" type="text" required>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea  name="listing[description]" class="form-control" required> <%=listingData.description%> </textarea>
                </div>
                
                <div class="mb-3">
                    <label for="image" class="form-label">Edit existing Image</label>
                    <!-- <input name="image" class="form-control" type="text" value="<%=listingData.image%>"> -->
                    <!-- <input name="image" class="form-control" type="text" value="<%=listingData.image?.url||listingData.image||''%>"> -->
                    <!-- <input name="image" class="form-control" type="text" value="<%=(listingData.image&&listingData.image.url)?listingData.image.url:(listingData.image||'')%>"> -->

                    <input name="listing[image]" class="form-control" type="text" 
                        value="<%=listingData.image.url ? listingData.image.url : Array.isArray(listingData.image) ? listingData.image[0] : listingData.image  %>">


                    <!-- <p style="text-align: center; margin-bottom: 2px;">OR</p>
                    <input name="image[filename]" class="form-control" type="file"> -->
                </div>
                

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%=listingData.price%>" class="form-control" type="number" required>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value="<%=listingData.country%>" class="form-control" type="text" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%=listingData.location%>" class="form-control" type="text" required>
                </div>

                <button class="btn btn-primary mb-3 edit-btn">Submit</button>
            </form>
        </div>
    </div>
</body>


<!-- Title: <input type="text" name="title" value="<%=listingData.title%>" placeholder="<%=listingData.title%>"> <br> <br>
    Description: <br>
    <textarea type="text" name="description" rows="5" cols="30" ><%=listingData.description%> 
    </textarea>  <br> <br>
    Image: <input type="text" name="image" value="<%=listingData.image.url%>"> <br> <br>
    Price: <input type="number" name="price" value="<%=listingData.price%>" placeholder="<%=listingData.price%>"> <br> <br>
    Location: <input type="text" name="location" value="<%=listingData.location%>" placeholder="<%=listingData.location%>"> <br> <br>
    Country: <input type="text" name="country" value="<%=listingData.country%>" placeholder="<%=listingData.country%>"> <br> <br> -->