<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>
</head>
<body>
    <h2>Edit the Listing</h2>
    <form action="/listings/<%=listingData._id%>?_method=PUT" method="POST">

        Title: <input type="text" name="title" value="<%=listingData.title%>" placeholder="<%=listingData.title%>"> <br> <br>
        Description: <br>
        <textarea type="text" name="description" rows="5" cols="30" ><%=listingData.description%> 
        </textarea>  <br> <br>
        Image: <input type="text" name="image" value="<%=listingData.image.url%>"> <br> <br>
        Price: <input type="number" name="price" value="<%=listingData.price%>" placeholder="<%=listingData.price%>"> <br> <br>
        Location: <input type="text" name="location" value="<%=listingData.location%>" placeholder="<%=listingData.location%>"> <br> <br>
        Country: <input type="text" name="country" value="<%=listingData.country%>" placeholder="<%=listingData.country%>"> <br> <br>

        <button>Submit</button>
    </form>
</body>
</html>