<%- layout("/layouts/boilerplate.ejs") %>
<style>
  #filters{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
  }
  .filter{
    text-align: center;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    opacity: 1;
  }
  .filter:hover{
    opacity: 0.6;
    cursor: pointer;
  }
  .filter p{
    font-size: 0.8rem;
  }
  .tax-info{
    display: none;
  }
  .tax-toggle{
    border: 1px solid black;
    height: 2.8rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-left: 2rem;
    margin-top: 1.35rem;
    margin-bottom: 2rem;
  }
</style>
<body>
    <form id="categoryForm" method="get" action="/listings/category">
      <input type="hidden" id="categoryInput" name="categoryVal"/>
    </form> 
  
    <!-- <h1>All Listings</h1> -->
    <div id="filters">
      <div class="filter" onclick="categoryFormSubmit('Trending')">
          <div><i class="fa-solid fa-fire"></i></div>
          <p>Trending</p>
      </div>

      <div class="filter" onclick="categoryFormSubmit('Camping')" >
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </div>

      <div class="filter" onclick="categoryFormSubmit('Hill Station')">
        <div><i class="fa-solid fa-mountain-sun"></i></div>
        <p>Hill Station</p>
      </div>

      <div class="filter" onclick="categoryFormSubmit('Rooms')">
          <div><i class="fa-solid fa-bed"></i></div>
          <p>Rooms</p>
      </div>

      <div class="filter" onclick="categoryFormSubmit('Iconic cities')">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic cities</p>
      </div>

      <div class="filter" onclick="categoryFormSubmit('Historical')">
          <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>Historical</p>
      </div>

      <div class="filter" onclick="categoryFormSubmit('Amazing Pools')">
          <div><i class="fa-solid fa-person-swimming"></i></div>
          <p>Amazing pools</p>
      </div>

      <div class="filter" onclick="categoryFormSubmit('Beaches')">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beaches</p>
      </div>

      <div class="filter" onclick="categoryFormSubmit('Nature')">
        <div><i class="fa-solid fa-seedling"></i></div>
        <p>Nature</p>
      </div>

      <div class="filter" onclick="categoryFormSubmit('Farms')">
          <div><i class="fa-solid fa-wheat-awn"></i></div>
          <p>Farms</p>
      </div>

      <div class="filter" onclick="categoryFormSubmit('Snowy')">
          <div><i class="fa-regular fa-snowflake"></i></div>
          <p>Snowy</p>
      </div>
      
      <div class="filter" onclick="categoryFormSubmit('Boating')">
          <div><i class="fa-solid fa-ship"></i></div>
          <p>Boating</p>
      </div>
      
      <script>
        function categoryFormSubmit(category){
          document.getElementById("categoryInput").value=category,
          document.getElementById("categoryForm").submit();
        }
      </script>

      <div class="tax-toggle">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
          <label class="form-check-label" for="switchCheckDefault">display Price with taxes</label>
        </div>
      </div>

    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% if (allListings.length) { %>
            <%# This is to display all listings %>
            <% for(let listing of allListings) { %>
              <a href="/listings/<%=listing._id%>" class="listing-link">
                <div class="card col">
                      <img src="<%= listing.image.url %>" alt="Listing Image"
                          class="card-img-top" 
                          alt="listing_image" 
                          style="height: 20rem;"
                      />
                      <div class="card-img-overlay"></div>
                      <div class="card-body">
                        <p class="card-text">
                          <b> <%= listing.title %> </b> <br>
                          &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
                          <i class="tax-info"> + &#8377;<%= (listing.price * 0.14).toLocaleString("en-IN") %>   </i> <br>
                        </p>
                      </div>
                    </div>
              </a>
            <% } %>
       <% } else { %> 
              <div class="d-flex-col justify-content-center align-items-center mx-auto mt-5">
                <h4 class="text-center">No results found for "<%= searchTerm %>".</h4>
                <p class="text-center">Try searching with different keywords or check your spelling</p>
              </div>      
      <% } %>
    </div>

    <script>
      let taxToggle=document.getElementById("switchCheckDefault");
      taxToggle.addEventListener("click",()=>{
        let tax_info=document.getElementsByClassName("tax-info");
        for(info of tax_info){
          if(info.style.display != "inline"){
            info.style.display="inline";            
          }else{
            info.style.display="none";            
          }
        }
      })
    </script>
</body>

